{% extends 'layout.html' %}
{% block content %}
    <p class="event">Around 8th grade, 2008, I came across a pop-up for to solve a Javascript challenge, but I think 
        nothing of it.
    </p>
    <p class="event">Around 2017, I randomly decided to learn how to code and make a controller control a
        robot's movements. All I did was make it's arm move up.
    </p>
    <p class="event">Around 2019, I made friends that were Computer Science majors, a major I hadn't heard of
        before.
    </p>
    <p class="event">Around 2020, my very first language was C++, by watching a <a href="https://www.youtube.com/watch?v=vLnPwxZdW4Y&t=7728s">YouTube Tutorial</a>,
        I downloaded CodeBlocks for the first time, but I'd be on and off with my studies. I learned Unity but not too much.
    </p>
    <p class="event">Around 2022, I spend much more time learning Python and trying to solve Leetcode problems, but then I'd stop self-teaching myself coding for a few months.
    </p>
    <p class="event">April 2023, my friend tells me to learn Ruby on Rails and I start getting serious with teaching myself coding.
        I'd spend 3-6 hours every day learning coding in efforts to get a coding job.
    </p>
{% endblock content %}