{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'skills.css')}}">
<h1>My Current Skills</h1>
<div class="skill-container">
    <div class="skill">
        <p>Flask</p>
        <progress value="4" max="10"></progress>
    </div>
    <div class="skill">
        <p>UX & UI Designing</p>
        <progress value="6" max="10"></progress>
    </div>
    <div class="skill">
        <p>HTML & CSS</p>
        <progress value="7" max="10"></progress>
    </div>
    <div class="skill">
        <p>Python</p>
        <progress value="6" max="10"></progress>
    </div>
    <div class="skill">
        <p>Data Structure & Algorithms</p>
        <progress value="5" max="10"></progress>
    </div>
    <div class="skill">
        <p>Shopify Liquid</p>
        <progress value="4" max="10"></progress>
    </div>
    <div class="skill">
        <p>C++</p>
        <progress value="2" max="10"></progress>
    </div>
    <div class="skill">
        <p>Javascript</p>
        <progress value="3" max="10"></progress>
    </div>
    <div class="skill">
        <p>Ruby</p>
        <progress value="1" max="10"></progress>
    </div>
    <div class="skill">
        <p>Ruby on Rails</p>
        <progress value="3" max="10"></progress>
    </div>
    <div class="skill">
        <p>React</p>
        <progress value="1" max="10"></progress>
    </div>
    <div class="skill">
        <p>Kotlin</p>
        <progress value="0" max="10"></progress>
    </div>
    <div class="skill">
        <p>Elixir</p>
        <progress value="0" max="10"></progress>
    </div>
    <div class="skill">
        <p>AWS</p>
        <progress value="0" max="10"></progress>
    </div>
    <div class="skill">
        <p>Swift</p>
        <progress value="0" max="10"></progress>
    </div>
    
</div>
{% endblock content %}