{% extends 'layout.html' %}
{% block content %}
<div class="achievement">
    Total Leetcode problems solved: 70
    <p>54 / 675 Easy</p>
    <p>15 / 1439 Medium</p>
    <p>51 / 600 Hard</p>
    <p>Rank 829,896</p>
</div>
<hr>
<div class="achievement">
    Total Github Repositories: 8
    <p>0 Pull Requests Merged</p>
    <p>0 Stars</p>
    <p>0 Contributions to Open Source</p>
</div>
<hr>
<div class="achievement">
    Total Hackerrank Badges: 2
    <p>Problem Solving: 3 Stars, Rank: 519316</p>
    <p>Python: 2 Stars, Rank: 975609</p>
    <p>0 Contributions to open source</p>
</div>
<hr>
<div class="achievement">
    Total Software YouTube Videos Watched: 1000
</div>
<hr>
<div class="achievement">
    Total Participation in Hackathons: 0
    Total Participations in Competitive Coding: 0
</div>
{% endblock content %}